/* CSS Document */
#anketa
{
	
}
#anketa h3
{
	margin:10px 0 3px 0;
}
#anketa input
{
	width:350px;
	height:22px;
	border:1px solid #191a1e;
}
#anketa input.checkbox
{
	width:20px;
	height:16px;
	border:0px;
}
#anketa .checkbox_float
{
	margin:10px 0 0 0;
	float:left;	
}
#anketa .checkbox_descr
{
	margin:10px 0 0 0;
	float:left;
}
#anketa .checkbox_descr label
{
	cursor:pointer;
}
#anketa .clear_both
{
	clear:both;
}
#anketa select
{
	margin:2px 0 0 0;
	width:350px;
	height:22px;
	border:1px solid #191a1e;
}
#anketa select.select_birth_date
{
	width:109px;
}
#anketa .form_name
{
	margin:15px 0 2px 0;
}
#anketa .form_name span
{
	color:#9d020a;
}
#anketa .form_field
{
	text-align:left;
	vertical-align:top;
}
#anketa .form_field input.phone
{
	width:337px;
}
#anketa .error input
{
	border:1px solid #9d020a;
}
#anketa select.error 
{
	border:1px solid #9d020a;
}
#anketa .form_error
{
	color:#9d020a;
	margin:2px 0 0 0;
}
#anketa .form_phone_error
{
	margin:2px 0 0 0px;
}
#anketa .form_field_descr
{
	font-size:10px;
	color:#999;
	text-align:left;
	vertical-align:top;
	margin:2px 0 0 0;
}
#anketa .form_submit
{
	margin:30px 0 3px 0;
}