.voting-form-box
{
	font-size:100%;
}

.voting-form-box .active
{
	color:green;
}

.voting-form-box .disable
{
	color:red;
}

.voting-form-box label
{
	line-height:20px;
}

.voting-form-box form
{
	margin:0;
}