.catalog-price {
	color:red;
}
div.catalog-section
{
	margin:20px 45px 45px;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}
div.cat_elem
{
	margin:20px 0 0 0;
	height:230px;
	vertical-align:bottom;
}
div.cat_elem_price {
	text-align:right;
	font-size:14px; 
	font-weight:bold; 
	margin:7px 0 0 0;
	color:#00244f;
}
div.cat_elem_name {
	font-size:14px; 
	font-weight:bold; 
	margin:7px 0 0 0;
	color:#00244f;
}
div.cat_elem_brand {
	font-size:11px; 
	margin:3px 0 0 0
}
div.cat_elem_code {
	font-size:11px; 
	margin:7px 0 0 0
}
td.space {
	
}
td.cat_elem {
	vertical-align:top;
}
a.cat_elem_name {
	font-size:14px; 
	font-weight:bold; 
	margin:7px 0 0 0;
	color:#00244f;
	text-decoration:none
}