<?xml version="1.0" encoding="utf-8" ?>
<scenes>
     <params>
		<delay>5</delay>
		<transition>2</transition>
     </params>
     <item>
          <image>/images/stars/ny12/ulia_kovalchuk.jpg</image>
		  <link>/about/news/?ELEMENT_ID=5554</link>
     </item>
     <item>
          <image>/images/stars/ny12/alexey_yagudin.jpg</image>
		  <link>/about/news/?ELEMENT_ID=5554</link>
     </item>
     <item>
          <image>/images/stars/ny12/arina_sharapova.jpg</image>
		  <link>/about/news/?ELEMENT_ID=5554</link>
     </item>
     <item>
          <image>/images/stars/ny12/maria_kozhevnikova.jpg</image>
		  <link>/about/news/?ELEMENT_ID=5554</link>
     </item>
</scenes>
