.ui-carousel {
	height: 130px;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: relative; /*for ie7 to work e.g in html carousels*/
	width: 910px
}

.ui-carousel > .wrapper {
    margin: 0;
    padding: 0;
    width: 9999px;
}

.ui-carousel > .wrapper > * {
	border: 0;
	display: block;
	float: left;
	height: 100px;
	overflow: hidden;
	width: 100px;	
}
#brand_container, #last_viewed_container {
	width: 910px;
	position: relative;
}

#carousel {
	margin: 0 auto;
}

#carousel img {
	border: 0;
}
#ui-carousel-next, #ui-carousel-prev {
	width: 25px;
	height: 130px;
	background: url(/images/arrows/grey_left.png) center center no-repeat;
	display: block;
	position: absolute;
	margin:auto 0;
	top: 0;
	z-index: 100;
}

#ui-carousel-next {
	right: 0;
	background-image: url(/images/arrows/grey_right.png);
}
#ui-carousel-prev {
	left: 0;
}

#ui-carousel-next > span, #ui-carousel-prev > span {
	display: none;
}