/* CSS Document */
body
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	line-height:1.2;
	background:#ffffff;
	color:#363636;
	margin:0;
	padding:0;
}
table, table td
{
	margin:0;
	padding:0;
	border:0px solid red;
	border-collapse:collapse;
}
img
{
	border:0;
	padding:0;
	margin:0;
}
a
{
	color:#363636;
	text-decoration:underline;
}
.link_color
{
	color:#363636;
}
.snq_color
{
	color:#00244f;
}
h1
{
	font-size:24px;
}
ul
{
	margin:0;
	padding:0 0 0 30px;
}
ul li
{
	list-style-image:url(/images/li_bullet.gif);
}
ul.without_bullet
{
	margin:0;
	padding:0 0 0 30px;
}
ul.without_bullet li
{
	list-style-image:none;
}
h1
{
	font-size:24px;
	font-weight:bold;
}
h2
{
	font-size:18px;
	font-weight:bold;	
}
h3
{
	font-size:13px;
	font-weight:bold;	
}