div.left_menu{
	padding:0;
}
h2.left_menu
{
	font-size:11px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 0px;
}
h2.left_menu_b
{
	font-size:11px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
}