<div id="mainMenuDiv">
	<div id="left_menu">
    	<div class="menuDiv" onmouseover="javascript:showHideSecondMenu('1', this, 'show');" onmouseout="javascript:showHideSecondMenu('1', this);">
        	<div class="secondMenuTopDiv" id="secondMenu1">
            	<div class="secondMenu">
                <table>
                	<tr>
                    	<td style="padding:0 23px 0 0; vertical-align:top;">
                        	<div class="secondMenuGroup">
                                <span><a href="/collection/wskincoat/">Дубленки</a></span><br />
                                <span><a href="/collection/wpaddedcoat/">Пуховики</a></span><br />
                                <span><a href="/collection/wleathertopjacket/">Кожаные куртки</a></span><br />
                                <span><a href="/collection/wleathertopcoat/">Пальто из кожи</a></span><br />
                                <span><a href="/collection/wtopjacket/">Куртки</a></span><br />
                                <!--<span><a href="/collection/wwindbreaker/">Ветровки</a></span><br />-->
                                <span><a href="/collection/wtopcoat/">Пальто</a></span><br />
                                <!--<span><a href="/collection/wtopcloak/">Плащи</a></span><br />-->
                            </div>
						</td>
                    	<td style="padding:0 23px; vertical-align:top; border-left:1px solid #c0c3ca;">
                        	<div class="secondMenuGroup">
                                <span><a href="/collection/wblouse/">Блузки</a></span><br />
                                <span><a href="/collection/wpants/">Брюки/Джинсы</a></span><br />
                                <span><a href="/collection/wjacket/">Жакеты</a></span><br />
                                <span><a href="/collection/wdress/">Платья</a></span><br />
                                <span><a href="/collection/wtrico/">Трикотаж</a></span><br />
                                <span><a href="/collection/wskirt/">Юбки</a></span><br />
                            </div>
						</td>
                    </tr>
                </table>
                </div>
            </div>
            <span class="menuLink">Женщины</span>
        </div>
        <div class="left_menu_separ"><img src="/images/mainmenu/separ.png" width="2" height="45" align="absmiddle" /></div>
        <div class="menuDiv" onmouseover="javascript:showHideSecondMenu('2', this, 'show');" onmouseout="javascript:showHideSecondMenu('2', this);">
        	<div class="secondMenuTopDiv" id="secondMenu2">
            	<div class="secondMenu">
                <table>
                	<tr>
                    	<td style="padding:0 23px 0 0; vertical-align:top;">
                        	<div class="secondMenuGroup">
                                <span><a href="/collection/mskincoat/">Дубленки</a></span><br />
                                <span><a href="/collection/mpaddedcoat/">Пуховики</a></span><br />
                                <span><a href="/collection/mleathertopjacket/">Кожаные куртки</a></span><br />
                                <span><a href="/collection/mtopjacket/">Куртки</a></span><br />
                                <!--<span><a href="/collection/mwindbreaker/">Ветровки</a></span><br />
                                <span><a href="/collection/mtopcloak/">Плащи</a></span><br />-->
                                <span><a href="/collection/mtopcoat/">Пальто</a></span><br />
                            </div>
						</td>
                    	<td style="padding:0 23px; vertical-align:top; border-left:1px solid #c0c3ca;">
                        	<div class="secondMenuGroup">
                                <!--<span><a href="/collection/mpants/">Брюки/Джинсы</a></span><br />-->
                                <span><a href="/collection/mshirt/">Рубашки</a></span><br />
                                <span><a href="/collection/mtrico/">Трикотаж</a></span><br />
                            </div>
						</td>
                    </tr>
                </table>
                </div>
            </div>
            <span class="menuLink">Мужчины</span>
        </div>
        <div class="left_menu_separ"><img src="/images/mainmenu/separ.png" width="2" height="45" align="absmiddle" /></div>
        <div class="menuDiv" onmouseover="javascript:showHideSecondMenu('4', this, 'show');" onmouseout="javascript:showHideSecondMenu('4', this);">
        	<div class="secondMenuTopDiv" id="secondMenu4">
            	<div class="secondMenu">
                <table>
                	<tr>
                    	<td style="vertical-align:top;">
                        	<div class="secondMenuGroup">
                                <span><a href="/collection/wmink/">Шубы норковые</a></span><br />
                                <span><a href="/collection/wfox/">Шубы из лисы</a></span><br />
                                <span><a href="/collection/wrabbit/">Шубы из кролика</a></span><br />
                                <span><a href="/collection/wfurvest/">Меховые жилеты</a></span><br />
                                <span><a href="/collection/wfurother/">Другой мех</a></span><br />
                            </div>
						</td>
                    </tr>
                </table>
                </div>
            </div>
        	<span class="menuLink">Шубы и меха</span>
        </div>
        <div class="left_menu_separ"><img src="/images/mainmenu/separ.png" width="2" height="45" align="absmiddle" /></div>
        <div class="menuDiv" onmouseover="javascript:showHideSecondMenu('3', this, 'show');" onmouseout="javascript:showHideSecondMenu('3', this);">
        	<div class="secondMenuTopDiv" id="secondMenu3">
            	<div class="secondMenu">
                <table>
                	<tr>
                    	<td style="padding:0 23px 0 0; vertical-align:top;">
                        	<div class="secondMenuGroup">
                                <span class="secondMenuHeader">Женские аксессуары</span><br />
                                <span><a href="/collection/wbijouteries/">Бижутерия</a></span><br />
                                <!--<span><a href="/collection/whats/">Головные уборы</a></span><br />-->
                                <span><a href="/collection/wumbrellas/">Зонты</a></span><br />
                                <span><a href="/collection/wwallets/">Кошельки</a></span><br />
                                <span><a href="/collection/wgloves/">Перчатки</a></span><br />
                                <span><a href="/collection/wshawls/">Платки/Шарфы</a></span><br />
                                <!--<span><a href="/collection/wbelts/">Ремни</a></span><br />-->
                                <span><a href="/collection/wbags/">Сумки</a></span><br />
                            </div>
						</td>
                    	<td style="padding:0 23px; vertical-align:top; border-left:1px solid #c0c3ca;">
                        	<div class="secondMenuGroup">
                                <span class="secondMenuHeader">Мужские аксессуары</span><br />
                                <!--<span><a href="/collection/mhats/">Головные уборы</a></span><br />
                                <span><a href="/collection/mumbrellas/">Зонты</a></span><br />
                                <span><a href="/collection/mwallets/">Кошельки</a></span><br />-->
                                <span><a href="/collection/mgloves/">Перчатки</a></span><br />
                                <!--<span><a href="/collection/mbags/">Сумки</a></span><br />-->
                                <span><a href="/collection/mshawls/">Шарфы</a></span><br />
                            </div>
						</td>
                    </tr>
                </table>
                </div>
            </div>
        	<span class="menuLink">Аксессуары</span>
		</div>
        <div class="left_menu_separ"><img src="/images/mainmenu/separ.png" width="2" height="45" align="absmiddle" /></div>
        <div class="menuDiv" onmouseover="javascript:showHideSecondMenu('0', this, 'show');" onmouseout="javascript:showHideSecondMenu('0', this);">
        	<a href="http://issuu.com/snowqueen_ru/docs/catalog_autumn2012winter2013?mode=window" target="_blank" class="menuLink">Каталог</a>
		</div>
        <div class="left_menu_separ"><img src="/images/mainmenu/separ.png" width="2" height="45" align="absmiddle" /></div>
        <div class="menuDiv" onmouseover="javascript:showHideSecondMenu('0', this, 'show');" onmouseout="javascript:showHideSecondMenu('0', this);">
        	<a href="http://likeaqueen.ru/" class="menuLink" target="_blank">Блог</a>
		</div>
        <div class="left_menu_separ"><img src="/images/mainmenu/separ.png" width="2" height="45" align="absmiddle" /></div>
        <div class="menuDiv" onmouseover="javascript:showHideSecondMenu('0', this, 'show');" onmouseout="javascript:showHideSecondMenu('0', this);">
        	<a href="http://shop.snq.ru/" class="menuLink" rel="nofollow" target="_blank">Интернет-магазин</a>
		</div>
    </div>
    
    <div id="our_shops">
        <div class="menuDiv actionsDiv" onmouseover="javascript:showHideSecondMenu('0', this, 'show');" onmouseout="javascript:showHideSecondMenu('0', this, false, 1);"><a href="/actions/" class="menuLink">Акции</a></div>
    	<div class="menuDiv" onmouseover="javascript:showHideSecondMenu('0', this, 'show');" onmouseout="javascript:showHideSecondMenu('0', this);"><a href="/our_shops/" class="menuLink">Магазины</a></div>
    </div>
    <div class="clear_both"></div>
</div>
<script type="text/javascript">
	function showHideSecondMenu(menuNumber, divObj, mode, actions_flag)
	{
		if (mode == 'show')
		{
			divObj.className = "menuDiv_act";
			if (menuNumber != "0")
			{
				document.getElementById("secondMenu" + menuNumber).style.display = "block";
			}
		}
		else
		{
			if (actions_flag == 1)
			{
				divObj.className = "menuDiv actionsDiv";
			}
			else
			{
				divObj.className = "menuDiv";
			}
			if (menuNumber != "0")
			{
				document.getElementById("secondMenu" + menuNumber).style.display = "none";
			}
		}
	}
</script>